body {
    background-color: #f9edcd;
}
h1 {
    font-size: 3.7em;
    text-align: center;
    margin-bottom: 0px;
}

p {
    font-family: Arial, sans-serif;
}
header p {
    animation-duration: 2s;
    animation-name: slidein;
}
a {
    font-family: Arial, sans-serif;
}

input {
    margin: 2px;
    padding: 10px;
    width: 350px;
    background: white;
}

header p {
    text-align: center;
    font-size: .95em;
}

button {
    background: #ab410d;
    color: white;
    display: block;
    width: 250px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    border-radius: 6px;
    animation: shake 2s;
}

.btnSave:hover {
  box-shadow: 0 3px #ffb347;
  transform: translateY(4px);
}

#priorities {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 6px solid #4b9fc9;
    width: 35%;
    position: relative;
    float: right;
    margin-top: -1px;
}

.btnPrevious {
    transition: all .5s;
}

.btnPrevious:hover {
    transform: scaleX(1.1);
  }

#restaurants {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 6px solid #4b9fc9;
    width: 60%;
}

#placeToSee{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 6px solid #4b9fc9;
    width: 60%;
}
.btnHiddenGem {
    transition: all 1s;
  }
  
  .btnHiddenGem span {
    display: inline-block;
    position: relative;
    transition: 1s;
  }
  
  .btnHiddenGem span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 1s;
  }
  
  .btnHiddenGem:hover span {
    padding-right: 25px;
  }
  
  .btnHiddenGem:hover span:after {
    opacity: 1;
    right: 0;
  }

.btnRestaurants {
    transition: .4s;
}
.btnRestaurants:hover {
    transform: rotate(360deg);
  }

/*javaScript Events "History"*/
#history {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    position:relative;
    padding: 10px;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 1s;
    border: 6px solid #4b9fc9;
}

#history.open {
    max-height: 1000px;
    transition: max-height 3s;
}

#expand {
    background: #ab410d;
    color: white;
    display: block;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    animation: shake 2s;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 900px;
    transition: width 1s;
}

img:hover {
    width: 1220px;

}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }